<!-- <md-whiteframe class="md-whiteframe-z1" layout="column" layout-align="left center">
	
	<md-toolbar layout="row" layout-align="start center" class="md-primary md-hue-3">
		<div class="md-toolbar-tools">
	     	 <span class="ml5">Chi tiết danh mục</span>
	    </div>	   
	</md-toolbar>
	<div  class="w90 mt10 ml10">
		<form name="createCateForm" layout="column">
          <md-input-container class="w50 ml10">
            <label>Tên danh mục</label>
            <input name="nameCate" ng-model="cate_name" required md-maxlength="20" minlength="4"/>
          </md-input-container>
	     <div class="w50 ml10">
	     	<md-select ng-model="cate_parent_id"  class="w50" placeholder="Danh mục cha">
	     		  <md-select-label>{{ cate_parent_id ? getCategoryInListCateById(cate_parent_id).complete_name : '' }}</md-select-label>
	     		  <md-option ng-value="null"></md-option>
			      <md-option ng-value="cate.id" ng-repeat="cate in categories">{{cate.complete_name}}</md-option>
		    </md-select>
	     </div>
          <div class="w50 ml10 mt10">
	          <md-button class="md-raised md-primary m5" ng-click="doUpdateCategory()">
	          	<md-icon md-svg-icon="btn-save"></md-icon>
	            <span>Lưu</span>
	          </md-button>
          </div>
          <div class="w100 h10"></div>
        </form>
	</div>
	<div class="w100 ml10 h10"></div>

</md-whiteframe> -->
<div class="row">
    <div class="col-md-12">
     <h2>Chi tiết danh mục</h2>   
     <h5>Màn hình chi tiết danh mục của sản phẩm. </h5>
    </div>
</div>
<hr></hr>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">Form sửa danh mục sản phẩm</div>
			<div class="panel-body">
				<h3>Chi tiết danh mục</h3>
				<form role="form">
					<fieldset>
						<div class="form-group">
							<label>Tên danh mục</label>
							<input type="text" class="form-control" ng-model="cate_name" placeholder="Nhập tên danh mục">
						</div>
						<div class="form-group">
							<label>Danh mục cha</label>
							<select class="form-control" ng-model="cate_parent_id" ng-options="cate.id as cate.complete_name for cate in categories"></select>
						</div>
						<a href="#" class="btn btn-primary " ng-click="doUpdateCategory()"><i class="fa fa-check fa-lg"></i>Lưu</a>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>