  <nav class="navbar-default navbar-side" role="navigation" ng-controller="LeftsideCtrl">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
          <li class="text-center">
            <img src="assets/img/find_user.png" class="user-image img-responsive">
          </li>
        
          <li>
              <a href="#" class="{{getCurrentView() == 'sale' ? 'active-menu' : ''}}"><i class="fa fa-shopping-cart fa-3x"></i> BÁN HÀNG</span></a>
          </li>
           <li>
              <a href="#" class="{{getCurrentView() == 'item' ? 'active-menu' : ''}}"><i class="fa fa-edit fa-3x"></i> Quản lý sản phẩm</a>
               <ul class="nav nav-second-level">
                  <li>
                      <a href="#" ng-click="goToCategoryPage()">Danh mục</a>
                  </li>
                  <li>
                      <a href="#" ng-click="goToProductPage()">Sản phẩm</a>
                  </li>
              </ul>
          </li>    
          <li>
              <a href="#" class="{{getCurrentView() == 'stock' ? 'active-menu': ''}}"><i class="fa fa-table fa-3x"></i> Quản lý kho</a>
               <ul class="nav nav-second-level">
                  <li>
                      <a href="#">Kiểm kho</a>
                  </li>
                  <li>
                      <a href="#">Nhập kho</a>
                  </li>
              </ul>
          </li>       
           <li>
              <a href="#" class="{{getCurrentView() == 'report' ? 'active-menu' : ''}}"><i class="fa fa-bar-chart-o fa-3x"></i> Báo cáo</a>
          </li>        
          
        </ul>
               
    </div>
            
  </nav>