<md-whiteframe class="md-whiteframe-z1" layout="column" layout-align="left center">
	
	<md-toolbar layout="row" layout-align="start center" class="md-accent md-hue-3">
		<div class="md-toolbar-tools">
	     	 <span class="ml5">Tạo sản phẩm</span>
	    </div>	   
	</md-toolbar>
	<md-content class="md-padding">
	<div  class="w100 mt10">
		<form name="createProductForm" layout="column">
		<div class="w100" layout="row">
			<div class="w50">
				<md-input-container class="w100">
		            <label>Tên sản phẩm</label>
		            <input name="nameProd" ng-model="nameProduct" required minlength="4"/>
		         </md-input-container>
			    <div class="w100">
			     	<md-select ng-model="category"  placeholder="--Danh mục sản phẩm--">
					      <md-option ng-value="cate.id" ng-repeat="cate in categories">{{cate.complete_name}}</md-option>
				    </md-select>
		     	</div>
			</div>
			<div class="w50">
				<md-input-container class="w100">
		        	<label>Mô tả</label>
		        	<textarea ng-model="descProduct" columns="1" md-maxlength="300"></textarea>
		        </md-input-container>
			</div>
			
		</div>
         
	     <div class="mt50">
		     <md-tabs md-border-bottom>
		     	<md-tab id="commonInfo">
		     		<md-tab-label>Thông tin chung</md-tab-label>
		     		<md-tab-body>
		     			<div layout="row" flex>
		     				<div layout="column" flex=50>
		     					 <md-input-container class="w60">
						            <label>Mã sản phẩm</label>
						            <input name="codeRefproduct" ng-model="codeRefProduct" maxlength="10"/>
						         </md-input-container>
						         <div layout="row">
						         	 <md-input-container>
							            <label>Bar code</label>
							            <input name="barcodeProduct" ng-model="barcodeProduct"/>
							         </md-input-container>
							         <div layout="row" layout-align"center center">
							         	  <md-switch  ng-model="autoCreateBarcode" aria-label="Tạo Bar code">
										   Tạo Bar code
										  </md-switch>
							         </div>
						         </div>
		     				</div>
		     				<div layout="column" layout-align="center center" flex=50>
		     					<md-input-container>
						            <label>Giá nhập</label>
						            <input type="number" name="costPrice" ng-model="costPrice"/>
						        </md-input-container>
						        <span>{{costPrice | currency:"VND ":0}}</span>
						        <md-input-container>
						            <label>Giá bán</label>
						            <input type="number" name="salePrice" ng-model="salePrice"/>
						        </md-input-container>
					        	<span>{{salePrice | currency:"VND ":0}}</span>
		     				</div>
		     			</div>
		     		</md-tab-body>
		     	</md-tab>
	     		<md-tab id="variant">
		     		<md-tab-label>Variant</md-tab-label>
		     		<md-tab-body layout="column">
			     		<div id="gridAtt" ui-grid="gridAttOptions" ui-grid-auto-resize ui-grid-edit ui-grid-cellnav external-scopes="gridAttExtScope" class="grid w100 h150"></div>
			     		<div>
			     			<md-button class="md-primary"  target="_blank">Thêm dòng</md-button>
			     		</div>
		     		</md-tab-body>
		     	</md-tab>
		     </md-tabs>
	     </div>
          <div class="w100 ml10 mt10">
	          <md-button class="md-raised md-primary m5">
	          	<md-icon md-svg-icon="btn-save"></md-icon>
	            <span>Lưu</span>
	          </md-button>
          </div>
        </form>
	</div>
	</md-content>
</md-whiteframe>