<div class="row">
    <div class="col-md-12">
     <h2>Tạo sản phẩm</h2>   
     <h5>Màn hình tạo sản phẩm. </h5>
    </div>
</div>
<hr></hr>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">Form tạo sản phẩm</div>
			<div class="panel-body">
				<h3>Nhập thông tin sản phẩm</h3>
				<form role="form">
					<fieldset>
						<div class="form-group">
							<label>Tên sản phẩm</label>
							<input type="text" class="form-control" ng-model="nameProduct" placeholder="Nhập tên sản phẩm">
						</div>
						<div class="form-group">
							<label>Danh mục</label>
							<select class="form-control" ng-model="category" ng-options="cate.id as cate.complete_name for cate in categories"></select>
						</div>
						<div>
							  <tabset>
							    <tab heading="Thông tin chung">
							    	<div class="mt10 col-md-12">
								    	<div class="col-md-6">
								    		<div class="form-group">
												<label>Mã sản phẩm</label>
												<input type="text" class="form-control" ng-model="codeRefProduct" placeholder="Nhập mã sản phẩm">
											</div>
											<div class="form-group">
												<label>Bar code</label>
												<input type="text" class="form-control" ng-model="barcodeProduct" placeholder="Nhập barcode">
												<div class="checkbox">
	                                                <label>
	                                                    <input value="false" type="checkbox" ng-model="autoCreateBarcode">Tạo Bar code
	                                                </label>
	                                            </div>
											</div>
								    	</div>
								    	<div class="col-md-6">
								    		<div class="form-group">
												<label>Giá nhập</label>
												<input type="number" ng-model="costPrice" class="form-control" ng-model="codeRefProduct" placeholder="Nhập giá nhập">
												 <span>{{costPrice | currency:"VND ":0}}</span>
											</div>
											<div class="form-group">
												<label>Giá bán</label>
												<input type="number" ng-model="salePrice" class="form-control" ng-model="codeRefProduct" placeholder="Nhập giá bán">
												<span>{{salePrice | currency:"VND ":0}}</span>
											</div>
								    	</div>
							    	</div>
							    </tab>
							    <tab heading="Variant">
							    	<div class="col-md-12 mt10">
							    		<table class="table table-bordered table-condensed">
							    			<tr>
							    				<th>Thuộc tính</th>
							    				<th>Giá trị</th>
							    				<th></th>
							    			</tr>
							    			<tr ng-repeat="attSelected in attsSelected">
							    				<td>
							    					<select class="form-control" ng-model="attSelected.attSelectedId" ng-options="att.id as att.name for att in attributes"></select>
							    				</td>
							    				<td>
													   <div ng-repeat="attValueSelected in attSelected.attValuesSelected">
													   		 <span>{{attValueSelected.name}} ,</span>
													   </div>
													   <a href="#" class="form-control" ng-click="openModalChoseProductAttributeValue(attSelected.attSelectedId)" ng-show="attSelected.attSelectedId">Chọn các giá trị</a>
							    				</td>
							    				<td><i class="fa fa-trash-o fa-lg" ng-click="removeAttSelected($index)"></i></td>
							    			</tr>
							    			<tr>
							    				<td colspan="3"><a href="#" ng-click="addNewRowTableChoseAtts()">Thêm dòng mới</a></i></td>
							    			</tr>
							    		</table>
							    	</div>
							    </tab>
							  </tabset>
						</div>
						<a href="#" class="btn btn-primary"><i class="fa fa-check fa-lg"></i>Lưu</a>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>