<div class="row">
    <div class="col-md-12">
     <h2>Tạo Danh mục</h2>   
     <h5>Màn hình tạo danh mục của sản phẩm. </h5>
    </div>
</div>
<hr></hr>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">Form tạo danh mục sản phẩm</div>
			<div class="panel-body">
				<h3>Nhập thông tin danh mục</h3>
				<form role="form">
					<fieldset>
						<div class="form-group">
							<label>Tên danh mục</label>
							<input type="text" class="form-control" ng-model="nameCate" placeholder="Nhập tên danh mục">
						</div>
						<div class="form-group">
							<label>Danh mục cha</label>
							<select class="form-control" ng-model="parentCate" ng-options="cate.id as cate.complete_name for cate in categories"></select>
						</div>
						<a href="#" class="btn btn-primary " ng-click="doCreateCategory()"><i class="fa fa-check fa-lg"></i>Lưu</a>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>